<!-- Coffee Product Form -->
<div class="product-form-container">
  <product-form class="product-form">
    {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
      <input
        type="hidden"
        name="id"
        :value="currentVariant ? currentVariant.id : {{ product.selected_or_first_available_variant.id }}"
        class="product-variant-id"
        id="variant-id-input"
      >

      <div class="form-buttons">
        <button
          type="submit"
          name="add"
          class="btn-add-to-cart"
          :disabled="!currentVariant || !currentVariant.available"
          @click.prevent="addToCart()"
        >
          <span x-text="!currentVariant || !currentVariant.available ? 'Sold Out' : 'Add to Cart'">
            Add to Cart
          </span>
        </button>
      </div>
    {%- endform -%}
  </product-form>
</div> 